@import "tailwindcss";

@theme {
  --color-veryDarkGrey-18171F: #18171f;
  --color-DarkGrey-24232c: #24232c;
  --color-Grey-817D92: #817d92;
  --color-AlmostWhite-E6E5EA: #e6e5ea;
  --color-NeonGreen-A4FFAF: #a4ffaf;
  --color-F64A4A: #f64a4a;
  --color-FB7C58: #fb7c58;
  --color-Yellow-F8CD65: #f8cd65;
  --color-14131b: #14131b;
  --color-08070b: #08070b;

  /* Font family */
  --font-jetbrainsMono: "JetBrains Mono", "serif";
}
/* from-14131b to-08070b */

@layer components {
  .linearGradient {
    background-image: linear-gradient(to bottom, #14131b, #08070b);
  }

  .btn {
    &:hover {
      cursor: pointer;
      box-shadow: inset 0 0 0 2px #a4ffaf;
    }
  }
}

/* input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--color-AlmostWhite-E6E5EA);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background: var(--color-veryDarkGrey-18171F);
  height: 8px;
}

input[type="range"]:focus:-webkit-slider-runnable-track {
  width: 100%;
  background: var(--color-NeonGreen-A4FFAF);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: var(--color-AlmostWhite-E6E5EA);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-thumb {
  background: var(--color-NeonGreen-A4FFAF);
} */
